mixin propertyline(item)
    property-line
        h4=item.h4
        p=item.p
mixin abilitiesblock(item)
    abilities-block(data-str=item.str data-dex=item.dex data-con=item.con data-int=item.int data-wis=item.wis data-cha=item.cha)
mixin propertyblock(item)
    property-block
        h4=item.title
        p=item.text
html
    head
        title=title
        link(rel='stylesheet', href='/css/stat-block.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
        meta(charset='UTF-8')
        link(rel="import" href="/top-stats.html")
        link(rel="import" href="/creature-heading.html")
        link(rel="import" href="/abilities-block.html")
        link(rel="import" href="/property-block.html")
        link(rel="import" href="/property-line.html")
        link(rel="import" href="/stat-block.html")
    body
        if (layout == "1")
            stat-block
                creature-heading
                    h1=statblock.creatureheading.title
                    h2=statblock.creatureheading.subtitle
                top-stats
                    for item in statblock.topstats
                        if item.type == 'abilities'
                            +abilitiesblock(item)
                        else
                            +propertyline(item)
                for block in statblock.propertyBlock
                    +propertyblock(block)
                h3 Actions
                for action in statblock.actions
                    +propertyblock(action)
                if statblock.legendaryactions
                    h3 Legendary Actions
                    p=statblock.legendaryactions.description
                    for action in statblock.legendaryactions.actions
                        +propertyblock(action)

        else
            stat-block(data-two-column data-content-height="672")
                creature-heading
                    h1=statblock.creatureheading.title
                    h2=statblock.creatureheading.subtitle
                top-stats
                    for item in statblock.topstats
                        if item.type == 'abilities'
                            +abilitiesblock(item)
                        else
                            +propertyline(item)
                for block in statblock.propertyBlock
                    +propertyblock(block)
                h3 Actions
                for action in statblock.actions
                    +propertyblock(action)
                if statblock.legendaryactions
                    h3 Legendary Actions
                    p=statblock.legendaryactions.description
                    for action in statblock.legendaryactions.actions
                        +propertyblock(action)

